<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <h2 class="custom-h2">Nuovo Palazzo Sistema</h2>
          <ul>
            <li class="list-item"><a href="">La visione</a></li>
            <li class="list-item"><a href="">Le tappe</a></li>
            <li class="list-item"><a href="">Il progetto</a></li>
            <li class="list-item"><a href="">Giardino urbano</a></li>
            <li class="list-item"><a href="">BIM</a></li>
          </ul>
          <h6 class="custom-h6">&copy; Copyright Regione Lombardia tutti i diritti riservati - 80050050154 - Piazza Città di
            Lombardia 1 - 20124 Milano</h6>
      </div>
      <div class="col-md d-flex justify-content-end align-items-center">
        <div class="row">
          <div class="col-md p-0">
            <img src="assets/img/footer/logo-footer.png">
          </div>
          <div class="col-md logo">
            Regione <br> Lombardia
          </div>
        </div>
      </div>
    </div>
  </div>
  </footer>
