<meta name="viewport" content="width=device-width, initial-scale=1.0">

<footer class="footer" >
    <div class="container">
        <div class="row">
            
            <nav class="footer-nav">
                <h2 class="custom-h2">Nuovo Palazzo Sistema</h2>
                <ul>
                    <li class="list-item"><a href="https://www.creative-tim.com">La visione</a></li>
                    <li class="list-item"><a href="http://blog.creative-tim.com">Le tappe</a></li>
                    <li class="list-item"><a href="https://www.creative-tim.com/license">Il progetto</a></li>
                    <li class="list-item"><a href="http://blog.creative-tim.com">Giardino urbano</a></li>
                    <li class="list-item"><a href="https://www.creative-tim.com/license">BIM</a></li>
                  </ul>
                <h6 class="custom-h6">Copyright Regione Lombardia tutti i diritti riservati - 80050050154 - Piazza Città di Lombardia 1 - 20124 Milano</h6>
            </nav>
            <div class="span-custom">
                <span  class="logo">
                    Regione<br> Lombardia
                </span>
            </div>
        </div>
    </div>
</footer>
