.navbar-nav .nav-item {
  padding: 0 35px; /* Aggiunge spazio attorno agli elementi */
}

.navbar-brand img {
  max-height: 40px; /* Imposta l'altezza massima del logo */
  width: auto;
}

@media (max-width: 1024px) { /* Bootstrap breakpoint per dispositivi large */
  .navbar-brand img {
    max-height: 35px;
  }
}

@media (max-width: 768px) { /* Bootstrap breakpoint per dispositivi medium */
  .navbar-brand img {
    max-height: 30px;
  }
}

@media (max-width: 576px) { /* Bootstrap breakpoint per dispositivi small */
  .navbar-brand img {
    max-height: 25px;
  }
}
