<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <!-- Logo e toggle per dispositivi mobili -->
    <div class="row d-flex w-100">
      <div class="col-md-2">
        <div class="row">
          <!-- Menù ad hamburger a sinistra su dispositivi mobili -->
          <div class="col-md-1 d-flex align-items-center order-2 order-md-1">
            <button (click)="toggleSidenav()" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <!-- Logo a destra su dispositivi mobili -->
          <div class="col-md d-flex align-items-center order-1 order-md-2">
            <a class="navbar-brand ml-md-auto" href="#">
              <img src="assets/img/navbar/logo-navbar.png" alt="Logo Regione Lombardia">
            </a>
            <div class="navbar-text d-none d-md-block">
              Regione <br> Lombardia
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-10  align-items-center d-flex">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#la-visione">La visione </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Le tappe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Il progetto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giardino urbano</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BIM</a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" href="#">Visita il palazzo</a>-->
              <button type="button" class="btn primary-green btn-success">Visita il palazzo</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="sidenav" [class.show]="isSidenavOpen">
  <!-- Elementi della sidenav -->
</div>

