<!--<div #canvas id="canvas" style="width: 100%; height: 100%">test</div>-->
<app-navbar></app-navbar>
<div class="">
  <div class="video-container">
    <video id="backgroundVideo" loop muted playsinline class="background-video">
      <source src="assets/video/VideoDigitalTwins.mp4" type="video/mp4">
      Il tuo browser non supporta la riproduzione di video.
    </video>
  </div>

  <app-la-visione></app-la-visione>
  <!--  <app-bim-viewer></app-bim-viewer>-->
  <app-tappe-progetto></app-tappe-progetto>
  <app-footer></app-footer>
</div>




