/* Primary Colors variables*/

$primaryGreen: #297A38;
$primaryWhite: #FFFFFF;
$primaryTurcheyBlu: #597483;
$primaryBlue: #003354;

/* Neutral Colors variables*/
$neutralBlue:#1B304C;
$neutralGrey:#E6E9F0;
$neutralWhite:#FBFBFF;

